	<table>
		<% for line_item in @invoice.line_items  %>
		<tr>
			<td><%= check_box_tag 'invoice[line_item_ids][]', line_item.id, true %></td>
			<td><%= line_item.start.to_s(:slash) if line_item.start %></td>
			<td><%=h line_item.user.name %></td>
			<td><%= line_item.start.to_s(:time) if line_item.start %></td>
			<td><%= line_item.finish.to_s(:time) if line_item.finish %></td>
			<td><%= number_with_precision line_item.hours, 2 %>
			<td><%=number_to_currency(line_item.rate, :precision => 0) %></td>
			<td><%=number_to_currency line_item.total %></td>
			<td><%=h line_item.notes %></td>
		</tr>
		<% end %>
	</table>

	<p>
		<b>Date</b><br>
		<%= form.date_select :date %>
	</p>
	
	<p>
		<b>Paid</b><br>
		<%= form.check_box :paid %>
		<%= form.date_select :paid %>
	</p>
	
  <p>
    <b>Project</b><br />
    <%= form.text_field :project_name %>
  </p>
  	
  <p>
    <b>Total</b><br />
    <%= form.text_field :total %>
  </p>
