<h1>Editing invoice</h1>

<%= error_messages_for :invoice %>

<% form_for(@invoice, :url => [@client, @invoice]) do |f| %>

	<%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [@client, @invoice] %> |
<%= link_to 'Back', client_invoices_path(@client) %>
