<% content_for :title do %>
  Editing invoice
<% end %>

<%= error_messages_for :invoice %>

<% form_for @invoice, :url => invoice_path(@client, @invoice) do |f| %>

	<%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', invoice_path(@client, @invoice) %> |
<%= link_to 'Back', invoices_path(@client) %>
