<div style="float: right">
	625 NW Everett Street
	Portland, OR  97209
</div>
<div style="clear: both"></div>

<h1>Invoice</h1>
<p>attention:<br>
<%=h @invoice.client.contact %><br>
<%=h @invoice.client.address %><br>
<%=h @invoice.client.city %>, <%=h @invoice.client.state %>  <%=h @invoice.client.zip %></p>

<h2><%= @invoice.date.to_s %></h2>

<table>
	<tr>
		<th>Project</th>
		<td><%=h @invoice.project_name %></td>
	</tr>
	<tr>
		<th>Invoice #</th>
		<td><%= @invoice.id %></td>
	</tr>
	<tr>
		<th>Terms</th>
		<td>Due on Receipt</td>
	</tr>
</table>

<table>
	<tr>
		<th>Item</td>
		<th>Hours</th>
		<th>Rate</th>
		<th>Cost</th>
	</tr>
	<% for line_item in @invoice.line_items %>
		<tr>
			<td><%=h line_item.notes %></td>
			<td><%= line_item.hours %></td>
			<td><%=number_to_currency line_item.rate %></td>
			<td><%=number_to_currency line_item.total %></td>
		</tr>
	<% end %>
	<tr>
		<th>Total</th>
		<td colspan="2"></td>
		<th><%=number_to_currency @invoice.total %>
	</tr>
</table>	

<%= link_to 'Edit', edit_client_invoice_path(@client, @invoice) %> |
<%= link_to 'Back', client_invoices_path(@client) %>
