- content_for :title do
  All Clients

%table
  %tr
    %th Name
    %th Balance
  - for client in @clients
    %tr
      %td= h client.name
      %td= number_to_currency client.balance
      %td= link_to 'Billing Details', invoices_path(client)
      %td= link_to 'Client Details', client
      %td= link_to 'Edit', edit_client_path(client)
      %td= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete
      
%p= link_to 'New client', new_client_path
