<p>
  <b>Name:</b>
  <%=h @client.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @client.address %>
</p>

<p>
  <b>City:</b>
  <%=h @client.city %>
</p>

<p>
  <b>State:</b>
  <%=h @client.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @client.zip %>
</p>

<p>
  <b>Country:</b>
  <%=h @client.country %>
</p>

<p>
  <b>Email:</b>
  <%=h @client.email %>
</p>

<p>
  <b>Contact:</b>
  <%=h @client.contact %>
</p>

<p>
  <b>Phone:</b>
  <%=h @client.phone %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
