- @line_item = work
%td
  = check_box_tag 'line_item_ids[]', work.id
  = work.start.to_s(:slash)
%td=h work.user.login
%td= work.start.to_s(:time)

- if work.incomplete?
  %td{ :colspan => 2 }= link_to 'Clock Out', clock_out_path(@client, work), :class => "clock_out"
- else
  %td= work.finish.to_s(:time)
  %td= number_with_precision work.hours, :precision => 2
  
%td{ :align => "right" }= in_place_text_field :line_item, :rate, :url => set_line_item_rate_line_item_path(:id => work.id, :client_id => work.client.id)
%td{ :align => "right" }= number_to_currency work.total
%td= in_place_text_area :line_item, :notes, :url => set_line_item_notes_line_item_path(:id => work.id, :client_id => work.client.id)
