<% content_for :title do %>
  <%= @client.name %> &raquo; Billing Details
<% end %>

<!--<%= link_to 'Import from CSV', import_line_items_path %>-->

<table border="1" cellpadding="4" cellspacing="0">
  <tr><th colspan="2">TODOS</th></tr>
	<tr id="new_todos">
		<td>
			<%= link_to_remote 'New Todo', :url => todos_path(@client), :with => "'todo[notes]='+escape($('notes_new').value)", :success => "$('notes_new').clear()" %>
		</td>
		<td><%= text_field_tag 'notes_new' %></td>
	</tr>
	<%= render :partial => 'todo', :collection => @client.todos %>
</table>
<br />

<table border="1" cellpadding="4" cellspacing="0">
	<tr>
		<td style="padding: 2px; font-size: 11px; text-align: center">
		  select<br>
			<a href="javascript:;" onclick="select_all(true)">all</a>
			<a href="javascript:;" onclick="select_all(false)">none</a>
		</td>
	  <th>Date</th>
	  <th>User</th>
	  <th>Start</th>
	  <th>Finish</th>
	  <th>Hours</th>
	  <th>Rate</th>
	  <th>Total</th>
	  <th>Notes</th>
	</tr>
	
	<%= render :partial => 'invoice', :collection => @invoices %>

</table>

<% javascript_tag do %>
	function select_all(flag) {
		$$('input[type=checkbox]').each(function(checkbox) {
			checkbox.checked = flag
		})
	}
<% end %>
