<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Invoices: <%= controller.action_name %></title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <%= javascript_include_tag :defaults %>
  <%= yield :javascript_includes %>
  <%= yield :stylesheet_links %>
  <%= stylesheet_link_tag 'default'%>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
</head>
<body>
<div id="wrapper">
<!-- start header -->
<div id="header">
  <div id="login">
	  Welcome, <%= current_user.name %>!<br>
	  [<%= link_to 'my account', edit_user_path(current_user) %>]
  </div>
	<h1><a href="/">BOTandROSE Invoicing</a></h1>
	<p>Simple rails invoicing application</p>
	<h2><%= yield :title %></h2>
	<%= yield :header %>
</div>
<!-- end header -->
<!-- start page -->
<div id="sidebar">
  <h2>clients</h2>
  <% @clients.each do |client| %>
    <ul>
      <li>
        <%= link_to h(client.name), line_items_path(client) %> - 
        <%= number_to_currency client.balance %>
      </li>
    </ul>
  <% end %>
</div>

<div id="page">
	<!-- start content -->
	<div id="content">
	  <p style="color: green"><%= flash[:notice] %></p>
	  <p style="color: red"><%= flash[:error] %></p>
    	<%= yield %>
	</div>
	<!-- end content -->
	
	<!-- end sidebar -->
</div>
<!-- end page -->
<div id="footer">
	<%= yield :footer %>
</div>
</body>
</html>
